spring:
  application:
    name: traffic-service
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8081
  error:
    include-message: always
    include-binding-errors: always

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,mappings
